html {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
}
/* Borrar */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

header {
  width: 100%;
  display: flex;

  & h1 {
    text-align: center;
    width: 100%;
  }
}

main {
  min-width: 700px;
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;

  & section {
    margin-top: 30px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    max-width: 335px;
  }

  & .pedido1 {
    position: relative;
    justify-content: center;
    flex: 1;
  }

  & .pedido2 {
    position: relative;
    opacity: 1;
    justify-content: center;
    flex: 1;
    transition: opacity 300ms ease-in 0s;
  }
}

/* Info datos */
.info {
  width: 100%;
  padding: 0px 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 100px;
  position: relative;
}

/* Estilos Tablas */
table,
td,
th {
  border: 1px solid black;
}

.table {
  width: 100%;
}

.table td {
  padding: 2px 4px;
}

th {
  background-color: black;
  color: white;
}

table {
  border-collapse: collapse;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

table tbody {
  text-align: justify;
}

table .tbody tr td {
  padding-left: 1.5rem;
}

table .tbody > :nth-child(2n) {
  background-color: #bd9fda;
}

table.tabla-info :is(th, td) {
  text-align: left;
}

table.tabla-info {
  & th {
    border-color: #fff #000;
  }

  & tr:first-child th {
    border-top-color: #000;
  }

  & tr:last-child th {
    border-bottom-color: #000;
  }
}

/* End Tablas */

/* Boton de Upload */
.container-archivos {
  display: flex;
  min-width: 700px;
  max-width: 900px;
  justify-content: space-around;

  .button {
    --width: 100px;
    --height: 35px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #000;
    --tooltip-color: #ff0000;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    transition: background 0.3s;
    padding: 0 0.5rem;
  }

  .button::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: var(--tooltip-color);
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
  }

  .button::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    transition: 0.5s;
  }

  .button::after,
  .button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }

  .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-wrapper,
  .text,
  .icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
  }

  .text {
    top: 0;
  }

  .text,
  .icon {
    transition: top 0.5s;
  }

  .icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon svg {
    width: 24px;
    height: 24px;
  }

  .button:hover {
    background: var(--tooltip-color);
  }

  .button:hover .text {
    top: -100%;
  }

  .button:hover .icon {
    top: 0;
  }

  .button:hover:before,
  .button:hover:after {
    opacity: 1;
    visibility: visible;
  }

  .button:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
  }

  .button:hover:before {
    width: 96%;
    position: absolute;
    bottom: -9px;
    left: 0.15rem;
  }
}

.mas-detalles {
  color: black;
  text-decoration: none;
  font-size: 12px;
  border: none;
  background: none;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;

  position: relative;
}

.mas-detalles::before {
  margin-left: auto;
}

.mas-detalles::after,
.mas-detalles::before {
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  transition: 0.5s;
}

.mas-detalles:hover::after,
.mas-detalles:hover::before {
  width: 100%;
}

/* Tooltip Nombre del archivo */
.nameArchivo::before {
  position: absolute;
  content: attr(data-tooltip);
  height: 35px;
  background-color: transparent;
  font-size: 0.75rem;
  color: #111;
  border-radius: 0.25em;
  text-align: justify;

  bottom: -41px !important;
  width: 400% !important;
}

.nameArchivo::before {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nameArchivo:hover:before {
  opacity: 1;
  visibility: visible;
}

@media (width <=728px) {
  .container-archivos {
    min-width: 0;
    gap: 50px;
  }
}

/* Boton Copiar */
.boton-copiar:hover {
  background: #000 !important;
}

/* Boton Copiar Items */
.container-boton-copiar-items-modify {
  width: fit-content;
  padding-bottom: 3px;
  transition: opacity 300ms ease-in 0s;

  /* tooltip settings 👇 */
  .copy {
    /* button */
    --button-bg: #353434;
    --button-hover-bg: #000000;
    --button-text-color: #fff;
    --button-hover-text-color: #fff;
    --button-border-radius: 5px;
    --button-diameter: 24px;
    --button-outline-width: 1px;
    --button-outline-color: rgb(141, 141, 141);
    /* tooltip */
    --tooltip-bg: #f4f3f3;
    --toolptip-border-radius: 4px;
    --tooltip-font-family: Menlo, Roboto Mono, monospace;
    /* 👆 this field should not be empty */
    --tooltip-font-size: 12px;
    /* 👆 this field should not be empty */
    --tootip-text-color: rgb(50, 50, 50);
    --tooltip-padding-x: 7px;
    --tooltip-padding-y: 7px;
    --tooltip-offset: 8px;
    --tooltip-transition-duration: 0.5s;
  }

  .copy {
    box-sizing: border-box;
    width: var(--button-diameter);
    height: var(--button-diameter);
    border-radius: var(--button-border-radius);
    background-color: var(--button-bg);
    color: var(--button-text-color);
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
  }

  .tooltip {
    position: absolute;
    opacity: 0;
    visibility: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font: var(--tooltip-font-size) var(--tooltip-font-family);
    color: var(--tootip-text-color);
    background: var(--tooltip-bg);
    padding: var(--tooltip-padding-y) var(--tooltip-padding-x);
    border-radius: var(--toolptip-border-radius);
    pointer-events: none;
    transition: all var(--tooltip-transition-duration) cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .tooltip::before {
    content: attr(data-text-initial);
  }

  .tooltip::after {
    content: '';
    position: absolute;
    bottom: calc(var(--tooltip-padding-y) / 2 * -1);
    width: var(--tooltip-padding-y);
    height: var(--tooltip-padding-y);
    background: inherit;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    z-index: -999;
    pointer-events: none;
  }

  .copy svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .checkmark {
    display: none;
  }

  /* actions */
  .copy:hover .tooltip,
  .copy:focus:not(:focus-visible) .tooltip {
    opacity: 1;
    visibility: visible;
    top: calc((100% + var(--tooltip-offset)) * -1);
  }

  .copy:focus:not(:focus-visible) .tooltip::before {
    content: attr(data-text-end);
  }

  .copy:focus:not(:focus-visible) .clipboard {
    display: none;
  }

  .copy:focus:not(:focus-visible) .checkmark {
    display: block;
  }

  .copy:hover,
  .copy:focus {
    background-color: var(--button-hover-bg);
  }

  .copy:active {
    outline: var(--button-outline-width) solid var(--button-outline-color);
  }

  .copy:hover svg {
    color: var(--button-hover-text-color);
  }
}
